.sbtn{
    background-color: black;
    color: white;
}
.container{
padding: 70px;
}
td, th,thead{
    border: 1px solid #fae3e3;
    padding: 0.5rem;
    text-align: center;
}
 
table {
    border-collapse: collapse;
    width: 1000px;
}
 
tbody tr:nth-child(odd) {
    background: #fae3e3;
}
caption {
    font-size: 0.8rem;
}
